@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@import "~stream-chat-react/dist/css/v2/index.css";

.str-chat {
  --str-chat__primary-color: theme(colors.pink.300);
  --str-chat__active-primary-color: theme(colors.pink.300);
  --str-chat__disabled-color: theme(colors.gray.200);
  --str-chat__cta-button-border-radius: theme(borderRadius.DEFAULT);
  --str-chat__background-color: theme(colors.gray.100);
}

.dark .str-chat {
  --str-chat__disabled-color: theme(colors.gray.600);
}

.str-chat * {
  font-family: inherit !important;
}

/* Search box height glitch fix */
.str-chat__channel-search.str-chat__channel-search--with-results.str-chat__channel-search--inline {
  height: fit-content;  
}

.str-chat * {
  font-family: inherit !important;
  
}

.str-chat__channel-search.str-chat__channel-search--with-results.str-chat__channel-search--inline {
  height: fit-content;
  
}


/* Chrome styling for scrollbar */
::-webkit-scrollbar {
  width: 10px; /* Ancho del scroll */
}

/* bar styling */
::-webkit-scrollbar-thumb {
  background-color: #f9a8d4; /* Color del scroll */
  border-radius: 5px; /* Borde redondeado */
}

/* track bar styling */
::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}